{% extends 'base_financiero.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% block title %}{{ "EC - Presupuestos Evento" }}{% endblock title %}
{% block content %}
<div class="row d-flex mb-2 white-bg">
	<div class="col-9 v-align">
		<h2 class="text-uppercase">CONSULTAS <span class="darkgreen-text">Presupuestos Eventos</span></h2>
	</div>
	<div class="col-3 col-xl-3 v-align">
		<a class="btn btn-secondary green-bg float-right" href="{% url 'nuevo_presupuestos' %}"><i
				class="fas fa-plus"></i>
			Agregar nuevo</a>
	</div>
</div>
<div class="row darkwhite-bg py-2 mb-2">
	<div class="col-12 col-xl-12">
		<form method="get">
			<div class="form-row">
				<div class="col-2">
					{{ filter.form.codigo|as_crispy_field }}
				</div>
				<div class="col-2"></div>
				<div class="col-8">
				</div>
			</div>
			<div class="form-row">
				<div class="col-3 col-xl-3">
					{{ filter.form.fecha|as_crispy_field }}
				</div>
				<div class="col-2">
					{{ filter.form.ruc_ci|as_crispy_field }}
				</div>
				<div class="col-4">
					{{ filter.form.razon_nombres|as_crispy_field }}
				</div>
				<div class="col-3">
					{{filter.form.codigo_propuesta|as_crispy_field}}
				</div>
			</div>
			<div class="form-row">
				<div class="col-3"></div>
				<div class="col-2">
					{{ filter.form.tipo|as_crispy_field}}
				</div>
				<div class="col-2"></div>
				<div class="col-2"></div>
				<div class="col-3">
					{{ filter.form.estado|as_crispy_field }}
				</div>
				<div class="col-3">
					{{ filter.form.centro_costos|as_crispy_field }}
				</div>
			</div>

			<button type="submit" class="btn btn-secondary green-bg float-right">
				<i class="fas fa-search"></i> Buscar</button>
			{{ filter.form.media }}
		</form>

	</div>
</div>

<div class="row mt-4">
	<div class="col-12 col-xl-12">
		<table id="dtBasicExample" class="table table-responsive  border-bottom">
			<thead class="white-text darkgreen-bg">
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Versión</th>
					<th scope="col">Cod. Evento</th>
					<th scope="col">Cod. Propuesta</th>
					<th scope="col">Nombre Evento</th>
					<th scope="col">Tipo</th>
					<th scope="col">Fecha Elaboracion</th>
					<th scope="col">% Margen contrib</th>
					<th scope="col">Punto equilibrio</th>
					<th scope="col">No. Participantes</th>
					<th scope="col">Ingreso Total</th>
					<th scope="col">Estado</th>
					<th scope="col">Centro Costos</th>
					<th scope="col">Fecha Envío Solicitud</th>
					<th scope="col">Fecha Aprobación sin Evento</th>
					<th scope="col">Fecha Aprobación con Evento</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			{% if filter.qs %}
			<tbody>
				{% for p in filter.qs %}
				<tr class="text-center">
					<td scope="row">{{p.codigo}}</td>
					<td scope="row">{{p.version}}</td>
					<td scope="row"></td>
					<td scope="row">{{p.codigo_propuesta}}</td>
					<td scope="row"></td>
					<td scope="row">{{p.tipo}}</td>
					<td scope="row">{{p.fecha}}</td>
					<td scope="row">{{p.margen_contribucion|porcentaje}}</td>
					<td scope="row">{{p.punto_equilibrio}}</td>
					<td scope="row">{{p.n_participantes}}</td>
					<td scope="row">{{p.ingreso_neto_total|currency}}</td>
					<td scope="row">{{p.estado}}</td>
					<td scope="row">{{p.centro_costos}}</td>
					<td scope="row">{{p.fecha_envio}}</td>
					<td scope="row">{{p.fecha_aprobada_sin}}</td>
					<td scope="row">{{p.fecha_aprobada_con}}</td>
					<td scope="row">
						<a class="btn btn-secondary btn-sm btn-block" href="{% url 'editar_presupuestos' pk=p.id %}"><i
								class="fas fa-edit"></i></a>

						{% if p.estado == 'Grabado' %}
						<a href='javascript:;' onclick='eliminar({{ p.id }});' class="btn btn-danger btn-sm btn-block"  data-toggle='modal'
						data-target="#presupuestoEliminarCenter"><i
								class="fas fa-trash"></i></a>
						{% endif %}
						<a class="btn btn-secondary btn-sm btn-block" href="#" data-toggle="tooltip" data-placement="top"
								title="Imprimir">
								<i class="fas fa-print"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
			<h2>No hay elementos que mostrar</h2>
			{% endif %}
		</table>
	</div>

	<div class="modal fade" id="presupuestoEliminarCenter" tabindex="-1" role="dialog" aria-labelledby="presupuestoTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
</div>



{% endblock %}
{% block extrafooter%}
<script src="{% static 'js/table.js' %}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>

    function eliminar(id) {
        $.ajax({
            url: "{% url 'presupuesto_confirmar_eliminar' %}",
            data: {
                'pk': id
            },
            success: function (data) {
                $(".modal-content").html(data)
            }
        });
    };
</script>
<script>
    $(document).on("change",'#id_motivo_anular', function(){
        if ($(this).val().length>20){
            $('#anular').attr('disabled',false);
        }
        else{
            $('#anular').attr('disabled',true);
        }
    })
</script>
{% endblock extrafooter %}