<div class="modal-header">
    <h5 class="modal-title" id="ordenTitle">Eliminar Capacitacion </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="capel" method="POST" action="{% url 'capacitacion_eliminar' capacitacion.pk fk %}" >
    {% csrf_token %}

    <div class="modal-body">
        ¿Está seguro que desea eliminar la siguiente capacitacion?<br>
        Tema: {{capacitacion.tema}}<br>
        Tipo: {{capacitacion.tipo}}<br>
        Modalidad: {{capacitacion.modalidad}}<br>
        Área: {{capacitacion.area}}<br>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-secondary green-bg mr-3" form="capel" type="submit"> Eliminar </button>
    </div>
</form>